# Protect Database information
/app/config/parameters.yml

# Remove Symfony directory unuseful
/build/
/phpunit.xml
/node_modules/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/gallery/
/web/media/


# Remove config.php. Only used to boostrap the project
#/web/config.php

# Remove the todolist
/todo.php


