{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    Création profil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1 class="page-header">Créer mon profil</h1>
        {{ include("UserBundle:User:form.html.twig") }}
{% endblock %}