{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    Editer profil - {{ parent() }}
{% endblock %}

{% block body %}
        <h1 class="page-header">Editer mon profil</h1>
        {{ include("UserBundle:User:form.html.twig") }}
{% endblock %}
