{% extends "CartBundle::layout.html.twig" %}

{% block title %}
    Editer le discount - {{ parent() }}
{% endblock %}

{% block body %}
        <h1 class="page-header">Editer le discount</h1>
        {{ include("CartBundle:Discount:form.html.twig") }}
{% endblock %}

{% block stylesheets %}
    <link href="/resources/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="/resources/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/resources/datetimepicker/js/locales/bootstrap-datetimepicker.fr.js"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            format: 'dd-mm-yyyy hh:ii:ss',
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 0,
            minuteStep: 5
        });
    </script>
{% endblock %}
