{% set appConfig = app_config.getConfig %}
<html>
<body bgcolor="#000" text="#FFF">
<div style="font-size: 3vw; font-family: Cabin, Arial, sans-serif">
    {{ appConfig.applicationIntroMessage | raw }}
</div>
</body>
</html>
