{% extends "CartBundle::layout.html.twig" %}

{% block title %}
    Editer le prix - {{ parent() }}
{% endblock %}

{% block body %}
        <h1 class="page-header">Editer le prix</h1>
        {{ include("CartBundle:Price:form.html.twig") }}
{% endblock %}
