p.caption-text {
    margin-bottom: 5px;
    text-align: center;
}

div.thumbnail {
    margin-left: 10px;
    margin-right: 10px;
}

div.cart-header {
    background: #DDD;
    padding-top: 15px;
    padding-bottom: 15px;
}
div.cart-detail {
    background: #EEE;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.cart-detail-format {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

p.cart-format-title {
    font-size: 16px;
    margin-bottom: 0px;
}

img.cart-img {
    height: 78px;
}

span.cart-title {
    font-size: 16px;
}

.bottom-message {
    padding-left: 0px;
    padding-rigth: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
}

.main-container {
    margin-bottom: 20px;
}

.navbar-bottom-nospace{
    min-height: 0px;
}

.order-canceled {
    text-decoration:line-through;
    color: #AAA;
}

.table-detail {
    text-align: center;
}

.order-canceled-intro {
    color: red;
    font-weight: bold;
}

.discount-quantity-title {
    font-weight: normal;
    font-style: italic;
}

.bottom-block {
    margin-bottom: 100px;
}

.bottom-block-left {
    float: left;
}

.bottom-block-right {
    float: right;
}

div.table .file-row:nth-child(odd){
    background: #4e5d6c;
}

@media screen and (max-width: 350px){
    #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }

    .bottom-block {
        margin-bottom: 40px;
    }

    .bottom-block-left, .bottom-block-right {
        float: none;
    }

    .bottom-button {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 351px) and (max-width: 600px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }

    .bottom-block {
        margin-bottom: 40px;
    }

    .bottom-block-left, .bottom-block-right {
        float: none;
    }

    .bottom-button {
        width: 100%;
        margin-top: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px)  {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

@media screen and (min-width: 1001px) {
    #grid[data-columns]::before {
        content: '4 .column.size-1of4';
    }
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }